:root {
    --header-font: "NorseFont", Arial, Helvetica, sans-serif;
    --primary-font: Arial, Helvetica, sans-serif;

    --header-font-size: 5.5em;
    --primary-font-size: 1em;

    --header-color: white;
    --primary-color: black;
    --secondary-color: #43453F;

    --primary-bg-color: #ced3c6;
    --secondary-bg-color: white;
}

@font-face {
    font-family: "NorseFont";
    src: url("fonts/Norse-Bold.otf");
}

.container {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: stretch;
}

header {
    flex: 2;
    background-image: url(images/ferns-original.jpg);
    background-position: center;
    background-size: cover;
}

.logo-area {
    background-color: rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    position: relative;
    top: 20%;
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    color: var(--header-color);
}

img {
    height: 90%;
}

content {
    flex: 3;
    background-color: var(--primary-bg-color);
}